<header class="header header_index">
  <nav class="navigation">
    <a href="index.html" class="logo">
      <img class="logo__image" src="assets/icons/logo.svg" alt="logo" />
      <h1 class="logo__title">Filmoteka</h1>
    </a>

    <ul class="menu">
      <li class="menu__item">
        <a href="index.html" class="menu__link active">Home</a>
      </li>
      <li class="menu__item">
        <a href="library.html" class="menu__link">My library</a>
      </li>
    </ul>
  </nav>

  <include src="components/inputs/search-bar.html"></include>
</header>
