<header class="header header_library">
  <nav class="navigation">
    <a href="index.html" class="logo">
      <img class="logo__image" src="assets/icons/logo.svg" alt="logo" />
      <h1 class="logo__title">Filmoteka</h1>
    </a>

    <ul class="menu">
      <li class="menu__item">
        <a href="index.html" class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a href="library.html" class="menu__link active">My library</a>
      </li>
    </ul>
  </nav>

  <div class="control-panel" data-action="control-bar"></div>
</header>
