<section class="section">
  <ul class="gallery">
    <li class="card sk" data-id="294793">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/g4tMniKxol1TBJrHlAtiDjjlx4Q.jpg"
        alt="All the Old Knives"
        loading="lazy"
        data-id="294793"
      />
      <h2 class="card__title">All the Old Knives</h2>
      <p class="card__text">
        <span>Thriller, Action | 2022</span>
        <span class="card__rating">6.1</span>
      </p>
    </li>
    <li class="card" data-id="634649">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg"
        alt="Spider-Man: No Way Home"
        loading="lazy"
        data-id="634649"
      />
      <h2 class="card__title">Spider-Man: No Way Home</h2>
      <p class="card__text">
        <span>Action, Adventure, Science Fiction | 2021</span>
        <span class="card__rating">8.2</span>
      </p>
    </li>
    <li class="card" data-id="675353">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/6DrHO1jr3qVrViUO6s6kFiAGM7.jpg"
        alt="Sonic the Hedgehog 2"
        loading="lazy"
        data-id="675353"
      />
      <h2 class="card__title">Sonic the Hedgehog 2</h2>
      <p class="card__text">
        <span>Action, Science Fiction, Comedy, Family | 2022</span>
        <span class="card__rating">7.7</span>
      </p>
    </li>
    <li class="card" data-id="338953">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/jrgifaYeUtTnaH7NF5Drkgjg2MB.jpg"
        alt="Fantastic Beasts: The Secrets of Dumbledore"
        loading="lazy"
        data-id="338953"
      />
      <h2 class="card__title">Fantastic Beasts: The Secrets of Dumbledore</h2>
      <p class="card__text">
        <span>Fantasy, Adventure | 2022</span>
        <span class="card__rating">7.5</span>
      </p>
    </li>
    <li class="card" data-id="799876">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/zbGN4QBrKoT3HO7etj4FvlM3OZb.jpg"
        alt="The Outfit"
        loading="lazy"
        data-id="799876"
      />
      <h2 class="card__title">The Outfit</h2>
      <p class="card__text">
        <span>Crime, Drama, Thriller | 2022</span>
        <span class="card__rating">7.2</span>
      </p>
    </li>
    <li class="card" data-id="739993">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/r97txZRmBb75SGsIAWqmplWJnO3.jpg"
        alt="Metal Lords"
        loading="lazy"
        data-id="739993"
      />
      <h2 class="card__title">Metal Lords</h2>
      <p class="card__text">
        <span>Comedy, Drama, Music | 2022</span>
        <span class="card__rating">6.8</span>
      </p>
    </li>
    <li class="card" data-id="606402">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/7MDgiFOPUCeG74nQsMKJuzTJrtc.jpg"
        alt="Yaksha: Ruthless Operations"
        loading="lazy"
        data-id="606402"
      />
      <h2 class="card__title">Yaksha: Ruthless Operations</h2>
      <p class="card__text">
        <span>Action | 2022</span>
        <span class="card__rating">6.9</span>
      </p>
    </li>
    <li class="card" data-id="414906">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/74xTEgt7R36Fpooo50r9T25onhq.jpg"
        alt="The Batman"
        loading="lazy"
        data-id="414906"
      />
      <h2 class="card__title">The Batman</h2>
      <p class="card__text">
        <span>Crime, Mystery, Thriller | 2022</span>
        <span class="card__rating">7.9</span>
      </p>
    </li>
    <li class="card" data-id="505026">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/kVr5zIAFSPRQ57Y1zE7KzmhzdMQ.jpg"
        alt="Death on the Nile"
        loading="lazy"
        data-id="505026"
      />
      <h2 class="card__title">Death on the Nile</h2>
      <p class="card__text">
        <span>Crime, Drama, Mystery, Thriller | 2022</span>
        <span class="card__rating">6.5</span>
      </p>
    </li>
    <li class="card" data-id="818750">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/7RcyjraM1cB1Uxy2W9ZWrab4KCw.jpg"
        alt="The In Between"
        loading="lazy"
        data-id="818750"
      />
      <h2 class="card__title">The In Between</h2>
      <p class="card__text">
        <span>Romance, Science Fiction, Drama | 2022</span>
        <span class="card__rating">7</span>
      </p>
    </li>
    <li class="card" data-id="751237">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/moLnqJmZ00i2opS0bzCVcaGC0iI.jpg"
        alt="Umma"
        loading="lazy"
        data-id="751237"
      />
      <h2 class="card__title">Umma</h2>
      <p class="card__text">
        <span>Horror, Mystery | 2022</span>
        <span class="card__rating">5.8</span>
      </p>
    </li>
    <li class="card" data-id="453395">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/wRnbWt44nKjsFPrqSmwYki5vZtF.jpg"
        alt="Doctor Strange in the Multiverse of Madness"
        loading="lazy"
        data-id="453395"
      />
      <h2 class="card__title">Doctor Strange in the Multiverse of Madness</h2>
      <p class="card__text">
        <span>Fantasy, Action, Adventure | 2022</span>
        <span class="card__rating">0</span>
      </p>
    </li>
    <li class="card" data-id="406759">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/odVv1sqVs0KxBXiA8bhIBlPgalx.jpg"
        alt="Moonfall"
        loading="lazy"
        data-id="406759"
      />
      <h2 class="card__title">Moonfall</h2>
      <p class="card__text">
        <span>Action, Adventure, Science Fiction | 2022</span>
        <span class="card__rating">6.5</span>
      </p>
    </li>
    <li class="card" data-id="872542">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/qXJFjgcV7ESRHUSxZiBA4PzRMIx.jpg"
        alt="Agent Game"
        loading="lazy"
        data-id="872542"
      />
      <h2 class="card__title">Agent Game</h2>
      <p class="card__text">
        <span>Action, Thriller | 2022</span>
        <span class="card__rating">5.8</span>
      </p>
    </li>
    <li class="card" data-id="800407">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/ppF495JNP6poCCEAm4xM1nJEZzD.jpg"
        alt="Dancing on Glass"
        loading="lazy"
        data-id="800407"
      />
      <h2 class="card__title">Dancing on Glass</h2>
      <p class="card__text">
        <span>Drama | 2022</span>
        <span class="card__rating">6</span>
      </p>
    </li>
    <li class="card" data-id="526896">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/6nhwr1LCozBiIN47b8oBEomOADm.jpg"
        alt="Morbius"
        loading="lazy"
        data-id="526896"
      />
      <h2 class="card__title">Morbius</h2>
      <p class="card__text">
        <span>Action, Science Fiction, Fantasy | 2022</span>
        <span class="card__rating">5.8</span>
      </p>
    </li>
    <li class="card" data-id="508947">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg"
        alt="Turning Red"
        loading="lazy"
        data-id="508947"
      />
      <h2 class="card__title">Turning Red</h2>
      <p class="card__text">
        <span>Animation, Family, Comedy, Fantasy | 2022</span>
        <span class="card__rating">7.5</span>
      </p>
    </li>
    <li class="card" data-id="628900">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/rJPGPZ5soaG27MK90oKpioSiJE2.jpg"
        alt="The Contractor"
        loading="lazy"
        data-id="628900"
      />
      <h2 class="card__title">The Contractor</h2>
      <p class="card__text">
        <span>Action, Thriller | 2022</span>
        <span class="card__rating">6.3</span>
      </p>
    </li>
    <li class="card" data-id="866678">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/tFURJnWv5qW58x4OOrXt1GQEyr1.jpg"
        alt="Furioza"
        loading="lazy"
        data-id="866678"
      />
      <h2 class="card__title">Furioza</h2>
      <p class="card__text">
        <span>Drama, Action, Crime | 2021</span>
        <span class="card__rating">6.1</span>
      </p>
    </li>
    <li class="card" data-id="776797">
      <img
        class="card__thumb"
        src="https://themoviedb.org/t/p/w342/a7VHvhROWorsWrtNKQnLZTxpxuG.jpg"
        alt="The Sadness"
        loading="lazy"
        data-id="776797"
      />
      <h2 class="card__title">The Sadness</h2>
      <p class="card__text">
        <span>Horror, Action | 2021</span>
        <span class="card__rating">5.9</span>
      </p>
    </li>
  </ul>

  <!-- <ul class="gallery">
    <li class="skeleton__card">
      <div class="skeleton__image">
        <img src="" alt="" />
      </div>
      <div class="gallery-list__content">
        <h2 class="skeleton__title"></h2>
        <p class="skeleton__subtitle"></p>
      </div>
    </li>
    <li class="skeleton__card">
      <div class="skeleton__image">
        <img src="" alt="" />
      </div>
      <div class="skeleton__image">
        <h2 class="skeleton__title"></h2>
        <p class="skeleton__subtitle"></p>
      </div>
    </li>
    <li class="skeleton__card">
      <div class="skeleton__image">
        <img src="" alt="" />
      </div>
      <div class="gallery-list__content">
        <h2 class="skeleton__title"></h2>
        <p class="skeleton__subtitle"></p>
      </div>
    </li>
  </ul> -->
</section>
