<section class="section">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-list__item">
        <div class="gallery-list__thumb">
          <img
            src="https://image.tmdb.org/t/p/w220_and_h330_face//wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg"
            alt="wwww"
          />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title">GREYHOUND</h2>
          <p class="gallery-list__text">Drama, Action | 2020</p>
        </div>
      </li>
      <li class="gallery-list__item">
        <div class="gallery-list__thumb">
          <img
            src="https://image.tmdb.org/t/p/w220_and_h330_face//wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg"
            alt="wwww"
          />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title">GREYHOUND</h2>
          <p class="gallery-list__text">Drama, Action | 2020</p>
        </div>
      </li>
      <li class="gallery-list__item">
        <div class="gallery-list__thumb">
          <img
            src="https://image.tmdb.org/t/p/w220_and_h330_face//wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg"
            alt="wwww"
          />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title">GREYHOUND</h2>
          <p class="gallery-list__text">Drama, Action | 2020</p>
        </div>
      </li>
      <li class="gallery-list__item">
        <div class="gallery-list__thumb">
          <img
            src="https://image.tmdb.org/t/p/w220_and_h330_face//wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg"
            alt="wwww"
          />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title">GREYHOUND</h2>
          <p class="gallery-list__text">Drama, Action | 2020</p>
        </div>
      </li>
    </ul>
  </div>
</section>
