<section class="section">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-list__item card-sceleton skeleton">
        <div class="gallery-list__thumb image-sceleton">
          <img
            src="https://image.tmdb.org/t/p/w220_and_h330_face//wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg"
            alt="wwww"
          />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title title-sceleton">GREYHOUND</h2>
          <p class="gallery-list__text subtitle-sceleton">
            Drama, Action | 2020
          </p>
        </div>
      </li>
      <li class="gallery-list__item card-sceleton skeleton">
        <div class="gallery-list__thumb image-sceleton">
          <img src="" alt="" />
        </div>
        <div class="gallery-list__content">
          <h2 class="galeery-list__title title-sceleton"></h2>
          <p class="gallery-list__text subtitle-sceleton"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
