<header class="container header-container">

    <div class="header-nav">
        <svg class="logo-icon">
            <use href="./assets/icons/sprite.svg#icon-film"></use>
        </svg>
        <p class="logo-text">Filmoteka</p>

        <ul class="header-nav-list">
            <li class="header-nav-item current">
                <a href="./index.html">HOME</a>
            </li>
            <li class="header-nav-item">
                <a href="">MY LIBRARY</a>
            </li>
        </ul>
    </div>


    <form class="header-search search">
        <label>
            <input type="text" class="search-input" placeholder="Поиск фильмов"/>
        </label>

        <button type="submit" class="search-button">
            <svg class="search-icon">
                <use href="./assets/icons/sprite.svg#icon-search-2"></use>
            </svg>
        </button>
    </form>

</header>

<div>
    <button type="button" class="btn">Watched</button>
    <button type="button" class="btn">queue</button>
</div>
