<header class="header">
  <div class="header__container">
    <nav class="navigation">
      <a href="home" data-action="go-page" class="logo">
        <svg class="logo__icon">
          <use href="./assets/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <ul class="navigation__menu">
        <li class="navigation__item">
          <a class="navigation__link active" data-action="go-page" href="home">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" data-action="go-page" href="library"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <div class="control-bar">
      <form class="search-form active" data-root="search-bar">
        <input
          name="searchQuery"
          type="text"
          class="search-form__input"
          placeholder="Search for movies..."
        />

        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./assets/icons/sprite.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>

      <ul class="library-menu" data-root="library-buttons">
        <li class="library-menu__item">
          <button
            type="button"
            data-action="watched"
            class="library-menu__button is-active"
          >
            watched
          </button>
        </li>
        <li class="library-menu__item">
          <button
            type="button"
            data-action="queue"
            class="library-menu__button"
          >
            queue
          </button>
        </li>
        <li class="library-menu__item">
          <button type="button" class="button-logout" data-action="logout">
            Log Out
          </button>
        </li>
      </ul>

      <div class="header-login-button" data-root="header-login">
        <button class="login-button" data-action="login-google">
          <img
            class="login-button__icon"
            src="./assets/icons/google-logo.svg"
            alt="google-icon"
          />
          <span class="login-button__title">Sign in with Google</span>
        </button>
      </div>
    </div>
  </div>
</header>
