<div class="container filter-container">
  <section class="filter-container__section">
    <h2 class="filter-container__title">Genres:</h2>
    <select class="filter-container__input" name="genrepicker" id="genrepicker">
      <option class="filter-container__option" value=""></option>
      <option class="filter-container__option" value="28">Action</option>
      <option class="filter-container__option" value="12">Adventure</option>
      <option class="filter-container__option" value="16">Animation</option>
      <option class="filter-container__option" value="35">Comedy</option>
      <option class="filter-container__option" value="80">Crime</option>
      <option class="filter-container__option" value="99">Documentary</option>
      <option class="filter-container__option" value="18">Drama</option>
      <option class="filter-container__option" value="10751">Family</option>
      <option class="filter-container__option" value="14">Fantasy</option>
      <option class="filter-container__option" value="14">History</option>
      <option class="filter-container__option" value="27">Horror</option>
      <option class="filter-container__option" value="10402">Music</option>
      <option class="filter-container__option" value="10749">Romance</option>
      <option class="filter-container__option" value="878">
        Science Fiction
      </option>
      <option class="filter-container__option" value="10770">TV Movie</option>
      <option class="filter-container__option" value="53">Thriller</option>
      <option class="filter-container__option" value="10752">War</option>
      <option class="filter-container__option" value="37">Western</option>
    </select>
    <h2 class="filter-container__title">Rating:</h2>
    <select
      class="filter-container__input"
      name="ratingpicker"
      id="ratingpicker"
    >
      <option class="filter-container__option" value=""></option>
      <option class="filter-container__option" value="1">Increase</option>
      <option class="filter-container__option" value="2">Decrease</option>
    </select>
  </section>
</div>
