<section class="modal-students">
    <div class="modal-btn"></div>
    <div class="">
      <h2 class="modal-title">GoIt Students</h2>
      <span class="line"></span>
      <p class="modal-text">Sometimes it's better to stay home on Monday than to spend the whole week debugging code written on Monday.</p>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/13.jpeg" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Vitaly Zavgorodniy</h3>
            <p class="modal-position">Team leader</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/3.gif" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Oleksandr Klishch</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/4.webp" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Roman Grusha</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/12.jpeg" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Tatiana Sierkova</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/5.webp" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Vasyl Gumeniuk</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/6.jpeg" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Vladyslav Rozhenko</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/7.jpeg" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Oleksey</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/11.jpeg" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">Alona Koval</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
        <div alt="" class="card">
            <img class="modal-img" src="../assets/images/img/8.webp" alt="" width="280px" height="320px"> 
            <h3 class="modal-name">No name</h3>
            <p class="modal-position">Developer</p>
            <div class="modal-social">
                <ul class="social-icons">
                    <li><a class="social-icon-twitter" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-fb" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-vk" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-telegram" href="#" title="..." target="_blank" rel="noopener"></a></li>
                    <li><a class="social-icon-youtube" href="#" title="..." target="_blank" rel="noopener"></a></li>
                  </ul>
            </div>
        </div>
    </div>
</section>