.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $fade-bg;
  opacity: 1;
  transition: opacity $ease-transition, visibility $ease-transition;
  overflow-y: scroll;
  padding: 20px;

  @include breakpoint(tablet) {
    padding: 0 32px;
  }

  @include breakpoint(desktop) {
    padding: 0 100px;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

body.is-open {
  overflow: hidden;
}