.login-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  padding: 0 15px;
  border-radius: 8px;
  transition: box-shadow $ease-transition;
  background-color: $white-color;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px $grey-bg;
  }

  &__icon {
    width: 30px;
  }

  &__title {
    @include font(400, 18px, 32px, $light-grey);
    transition: color $ease-transition;
  }

  &:hover &__title {
    color: $black-color;
  }
}

.button-logout {
  background-color: transparent;
  padding: 4px;
  color: #fff;
  transition: color $ease-transition;

  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

.button-library {
  display: flex;
  justify-content: center;
  min-width: 110px;
  border-radius: 5px;
  padding: 13px;
  background-color: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
  @include font(500, 12px, 16px);

  &:hover,
  &:focus,
  &.is-active {
    cursor: pointer;
    color: $white-color;
    border-color: $accent-color;
    background-color: $accent-color;
  }
}
