.header-container {
    height: 230px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    background-image: url("../assets/images/header-mob-1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../assets/images/header-mob-2x.jpg");
    }
    @media screen and (min-width: 768px) {
        background-image: url("../assets/images/header-tab-1x.jpg");
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../assets/images/header-tab-2x.jpg");
        }
    }
    @media screen and (min-width: 1200px) {
        background-image: url("../assets/images/header-desk-1x.jpg");
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../assets/images/header-desk-2x.jpg");
        }
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo-icon {
    width: 24px;
    height: 24px;
    margin-top: 40px;
    @media screen and (min-width: 480px) {
        margin-top: 45px;
    }
}
.logo-text {
    @media screen and (max-width: 479px) {
        display: none;
    }
    @media screen and (min-width: 480px) {
        margin-left: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
    @include font(500, 30px, 35px);
    color: #ffffff;
}



.header-nav-list {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    margin-left: auto;
    @media screen and (min-width: 480px) {
        margin-top: 49px;
    }
}
.header-nav-item {
    color: #ffffff;
    @include font(500, 12px, 14px);
    
    &:not(:last-child) {
        margin-right: 40px;
}}
.current {
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 36px;
        height: 3px;
        left: auto;
        top: 64px;
        @media screen and (min-width: 480px) {
            top: 69px;
        }
        background: #FF6B08;
    }
}


.header-search {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 40px;
    @media screen and (min-width: 480px) {
        width: 336px;
        margin: 0 auto;
        margin-top: 40px;
    }
}
.search-input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #FFFFFF;
    background-color: transparent;
    outline: none;

    &::placeholder {
        @include font(500, 14px, 16px);
        color: #FFFFFF;
        @media screen and (min-width: 480px) {
            width: 336px;
        }
    }
}
.search-button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 12px;
    }
.search-icon {
    width: 100%;
    height: 100%;
}