.section {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 61px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gallery-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
  @media screen and(min-width:1024px) {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }
}

.gallery-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 16px;
    flex-basis: calc((100% - (2 * 32px)) / 2);
  }
  @media screen and (min-width: 1024px) {
    margin: 8px;
    flex-basis: calc((100% - (3 * 16px)) / 3);
  }
}
.gallery-list__thumb {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.galeery-list__title {
  font-family: inherit;
  @include font(500, 12px, 14px);
  text-transform: uppercase;
  color: #000000;
}
.gallery-list__text {
  font-family: inherit;
  @include font(500, 12px, 14px);
  color: #ff6b01;
}
.gallery-list__text button{
  width: 36px;
  height: 16px;
  margin-left: 5px;
  background-color: #ff6b01;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

// Skeletons for Movie Cards loading
.card-sceleton {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  min-height: 489px;
  border-radius: 5px;
  margin-bottom: 32px;
  padding: 10px;
  border: solid 0.5px grayscale($color: #edeaea);
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.06);

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
}

.image-sceleton {
  min-height: 449px;
  background-color: grayscale($color: #edeaea);
  border: 0px;
}

.title-sceleton {
  min-height: 30px;
  background: grayscale($color: #edeaea);
  margin-top: 10px;
  border-radius: 5px;
}

.subtitle-sceleton {
  min-height: 30px;
  width: 70%;
  background: grayscale($color: #edeaea);
  margin-top: 10px;
  border-radius: 5px;
}

.skeleton {
  z-index: 2;
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(197, 32%, 78%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}